# Gimp files
*.xcf

# Compiled things
2DPlatformerEngine/2DPlatformerEngine/Debug/
WireframeRenderer/WireframeRenderer/obj/
*.exe
*.slo
*.lo
*.o
*.obj
*.tlog
*.ilk
*.pdb

# VS stuff
*.opensdf

# Other stuff
*.docx
*.doc